.App {
  text-align: center;
  margin: auto;
  width: 75%;
  border: 1px red solid;
  background: #eaeaea;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr;
}

.nav {
  grid-template-columns: 1 ;
  grid-template-rows: 1 ;
  border: 1px solid darkmagenta;
}
.B {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  border: 1px solid deepskyblue;
  text-align: center;
  margin: auto;
}
.C {
  grid-template-columns: 1fr 1fr;
  border: 1px solid darkred;
  padding: 10px;
  margin: 10px;
  height: 100px;
  gap: 10px;
}
button {
  width:140px;
  height:50px;
  border-width: 2px;
  border-radius: 25px;
  background-color: red;
  color: darkgrey;
  box-shadow: 0px 1px 0px 0px #1c1b18;
}
button:hover{
  background-color: salmon;
  color: black;
}
/* div b then  overlay then home-image then close div b */
.overlay {
  position: absolute;
  font-size: 50px;
  z-index: 10;
  text-align: center;
  padding: 150px 0px 0px 150px;
  border: 1px yellow solid;
  align-items: center;
  margin: 0;
  background-color: rgba(0,0,0,.4)
    color: #f2f2f2;
  }
  .home-image {

  
  }