
.App {
  text-align: center;
  margin: auto;
  width: 75%;
  height: 100vh;
  background: hsla(351, 88%, 61%, 1);

background: linear-gradient(270deg, hsla(351, 88%, 61%, 0.6) 0%, hsla(281, 14%, 42%, 1) 100%);

background: -moz-linear-gradient(270deg, hsla(351, 88%, 61%, 0.6) 0%, hsla(281, 14%, 42%, 1) 100%);

background: -webkit-linear-gradient(270deg, hsla(351, 88%, 61%, 0.6) 0%, hsla(281, 14%, 42%, 1) 100%);
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr;
  background-size: auto;
  color: #2e2b32;
}
* {
  box-sizing: border-box;
}
ul {
  list-style-type: none;
  margin-top: 10px;
  padding: 1px;
  overflow: hidden;
  background-color: rgba(243, 68, 94, .2);
  color: #2e2b32;
  font-family: Sora, Lucida Sans;
}
li {
  float: left;
  display: inline;
  border-right: 2px solid #f44336;
}
li:last-child {    
  border-right: none;
}
li a {
  display: block;
  color: #f3f5f2;
  text-align: left;
  padding: 15px 17px;
  text-decoration: none;
  background-color:  rgba(243, 68, 94, .2); ;
}
li a:hover {
  background-color: #f44336;
}
.active {
  background-color: #f44336;
}
.title {
  float: right;
  font-family: Hahmlet, serif ;
  font-size: 2rem;
  background-color: #d7837f;
}
.home-box {
  justify-content: center;
  background-color: #f3445e;
  margin: auto;
  order: 1;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto;
  /* max-width: 800px;
  min-width: 600px; */
  position: relative;
}
.home-image {
  background-image: url(./components/bookshelf2.jpeg);
  background-size: cover;
  aspect-ratio: 16 / 9;
  margin: auto;

  height: 95%;
  opacity: .5;
}
.home {
  grid-template-columns: 1fr;
  background-color:  #AC9CB5;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  gap: 10px;
  text-decoration: none;
  order: 2;
}
button {
  width:100px;
  height:50px;
  border-width: 2px;
  border-radius: .4em;
  background-color: #8c7598;
  box-shadow: 0px 2px 2px 0px #715c7b;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 400;
  margin: 20px;
  padding: 1em 3 em;
  text-align: center;
  text-decoration: none;
  color: #2e2b32;
}
button:hover,
button:focus{
  background-color: #715c7b;
  color: #2e2b32;
}
a.button {
  text-decoration: none;
}

