
.catalog {
  background-color:  #AC9CB5;
  color: #2e2b32;
  border-radius: 10px;
  /* margin-top: 8em; */
  font-size: 1rem;
  display: grid; 
  gap: 5px;
  grid-template-areas: 
    "AA AA AA"
    '.  BB .'
  }
  .AA {
    font-family: "Hahmlet", serif;
    grid-area: AA;
  }
  .AA a{
    max-width: 100%;
    width: 250px;
    min-height: 200px;
  }
  /* .list {
    justify-items: center;
    height: 100px;
  } */
  .BB {
    background-color: #8c7598;
    border-radius: 15px;
    padding: 10px;
    align-content: start;
    justify-content: space-evenly;
    display: grid;
    font-family: 'Merienda', serif;
    grid-template-columns: repeat(3, 1fr);
    /* border: 1px dashed black; */
    gap: 5px;
    align-self: stretch;
  }
  .CC {
  border: 1px solid gray;
  border-radius: 15px;
  padding: 10px;
  /* grid-auto-rows: 200px; */
  background-color:  #AC9CB5;
  margin: auto;
  align-items: stretch;
}
.indCC {
  width: 200px;
  display: grid;
  /* grid-template-rows: max-content 200px 1fr; */
  padding: 5px;
}
/* .filter{
  justify-items: start;
  grid-column: 1fr;
  align-items: start;
  grid-area: 2 / 3 / 4 / 4;
  background-color: #715c7b;
  height: auto;
} */
