
.detail {
  display: grid; 
  grid-template-columns: repeat(5, 1fr); 
  grid-template-rows: 0.5fr repeat(4, 1fr); 
  gap: 10px;
  border-radius: 10px;
  background-color: rgba(114,108,134,.5) ;
}
.info {
  font-size: 15px;
  justify-self: start; 
  text-align: start;
  align-self: start; 
  grid-area: 3 / 1 / 6 / 3; 
  padding-left: 10px;
}
.thoughts {
  border: 1px solid rgba(114,108,134,.9) ;
  justify-self: start; 
  align-self: start; 
  grid-area: 3 / 3 / 4 / 4; 
  z-index: 7;
  background-color: rgba(114,108,134,.2) ;
}
.listing {

  grid-area: 2 / 1 /6 / 6;
}
.title {
  grid-area: 2 / 1 / 3 / 6;
  justify-self: center; 
  align-self: end; 
  font-size: 20px;
}
.label{
  justify-self: start;
}

