.App {
  text-align: center;
  margin: auto;
  width: 75%;
  border: 1px red solid;
  background: #eaeaea;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr;
  grid-template-rows: 3fr;
}

.nav {
  border: 1px solid darkmagenta;
  grid-area: 1 / 1 / 2 / 6;
  justify-self: center;
  align-self: end; 
  z-index: 3;
}
.detail {
  display: grid; 
  grid-template-columns: repeat(5, 1fr); 
  grid-template-rows: 0.5fr repeat(4, 1fr); 
  gap: 10px;
}
.info {
  border: 1px solid blue;
  justify-self: stretch; 
  align-self: start; 
  grid-area: 3 / 1 / 6 / 3; 
}
.thoughts {
  border: 1px solid silver;
  justify-self: start; 
  align-self: start; 
  grid-area: 3 / 3 / 6 / 6; 
  z-index: 7;
}

.listing {
  border: 1px solid green;
  grid-area: 2 / 1 / 5 / 6;
}
.title {
  grid-area: 2 / 1 / 3 / 6;
  justify-self: center; 
  border: 1px solid grey;
  align-self: end; 
}


/* <div class='listing'>listing
<div class='title'> title</div>
<div class='info'> info</div>
<div class='thoughts'>  thoughts</p></div> */